{% extends "template.html" %}
{% block body %}
<br>
<form id="form-id" action="" method="post">
<input type="number" name="after_id" id="after_id" value="{{after.after_id}}" hidden>

<table>
    <tr>
        <th><label for="date">日付</label></th>
        <td><input type="date" name="date" id="date" value="{{after.date if after != None else today }}" required></td>
    </tr>
    <tr>
        <th><label for="after_stage">何次会</label></th>
        <td><input type="number" name="after_stage" id="after_stage" value="{{after.after_stage if after != None else 1 }}" min="0" required></td>
    </tr>
    <tr>
    <th><label for="participants">参加者</label></th>
    <td>
        <select id="participants" name="participants" form="form-id" multiple>
        {% set selected_ids = [] if after == None else after.participants|map(attribute='member_id') %}
        {% for grade, members_by_year in members.items() %}
        <optgroup label="{{grade}}年">
            {% for id, member in members_by_year.items() %}
            <option value="{{ id }}"  {{"selected" if id in selected_ids }}>{{member}}</option>
            {% endfor %}
        </optgroup>            
        {% endfor %}
        </select>
    </td>
    </tr>

    <tr>
    <th><label for="restaurant_id">店</label></th>
    <td>
        <select id="restaurant_id" name="restaurant_id">
        {% set selected_id = 0 if after == None else after.restaurant.restaurant_id %}
        {% for r in restaurants %}
        <option value="{{ r.restaurant_id }}"  {{"selected" if r.restaurant_id == selected_id }}>{{r.restaurant_name}}</option>
        {% endfor %}
        </select>
    </td>
    </tr>
        
    <tr>
        <th><label for="title">タイトル</label></th>
        <td><input type="text" name="title" id="title" value="{{after.title}}" required></label></td>
    </tr>
    <tr>
        <th><label for="comment">コメント</label></th>
        <td> <textarea name="comment" id="comment" cols="30" rows="5" value="after.comment"></textarea></td>
    </tr>
</table>
<label for="password">パスワード<input type="password" name="password" id="password" required></label><br>
<label for="submit">submit<input type="submit" value="submit" id="submit"></label>
</form>
<h3>result</h3>
<p>
    {{ request }}
    <br>
    {{ request.form }}
    <br>

</p>
{% endblock body %}
