{% extends "template.html" %}
{% block body %}
<br>
<form id="form-id" action="" method="post">
<table>
    <tr>
        <th><label for="family_name">family_name</label></th>
        <td colspan="3"><input type="text" name="family_name" id="family_name"></td>
    </tr>
    <tr>
            <th><label for="first_name">first_name</label></th>
            <td colspan="3"><input type="text" name="first_name" id="first_name"></td>
    </tr>
    <tr>
            <th><label for="kana">フリガナ</label></th>
            <td colspan="3"><input type="text" name="kana" id="kana"></label></td>
    </tr>
    <tr>
            <th><label for="year">year</label></th>
            <td colspan="3"><input type="text" name="year" id="year"></label></td>
    </tr>
    <tr>
        <th>sex</th>
        <td><label for="male">male<input id="male" type="radio" name="sex" value="male"></td></label>
        <td><label for="female">female<input id="female" type="radio" name="sex" value="female"></td></label>
        <td><label for="other">other<input id="other" type="radio" name="sex" value="other"></td></label>
    </tr>
</table>
<input type="checkbox" name="visible" id="visible" value="true" checked hidden>
    
<label for="password">password<input type="password" name="password" id="password"></label><br>
<label for="submit">submit<input type="submit" value="submit" id="submit"></label>
</form>
<h3>result</h3>
<p>
    {{ request }}
    <br>
    {{ request.form }}

</p>
{% endblock body %}
