{% extends "template.html" %}
{% block body %}
<br>
<form id="form-id" action="{{action}}" method="{{method}}">
<input type="number" name="member_id" id="member_id" value="{{member.member_id}}" hidden>

<table>
    <tr>
        <th><label for="family_name">姓</label></th>
        <td colspan="3"><input type="text" name="family_name" id="family_name" value="{{member.family_name}}" ></td>
    </tr>
    <tr>
            <th><label for="first_name">名</label></th>
            <td colspan="3"><input type="text" name="first_name" id="first_name" value="{{member.first_name}}"></td>
    </tr>
    <tr>
            <th><label for="kana">フリガナ</label></th>
            <td colspan="3"><input type="text" name="kana" id="kana" value="{{member.kana}}"></label></td>
    </tr>
    <tr>
            <th><label for="show_name">表示名</label></th>
            <td colspan="3"><input type="text" name="show_name" id="show_name" value="{{member.show_name}}"></label></td>
    </tr>
    <tr>
            <th><label for="year">入学年度</label></th>
            <td colspan="3"><input type="number" name="year" id="year" value={{member.year if member != None else current_year}}></label></td>
    </tr>
    <tr>
        <th>sex</th>
        <td><label for="male">男性<input id="male" type="radio" name="sex" value=0 {{ "checked" if member !=None and member.sex == 0}}></td></label>
        <td><label for="female">女性<input id="female" type="radio" name="sex" value=1 {{ "checked" if member !=None and  member.sex == 1}}></td></label>
        <td><label for="other">不明<input id="other" type="radio" name="sex" value=-1 {{ "checked" if ( member == None or member.sex < 0) }} ></td></label>
    </tr>
</table>
<input type="checkbox" name="visible" id="visible" value="true" checked hidden>
<input type="checkbox" name="confirmed" value="false" checked hidden>

<label for="password">password<input type="password" name="password" id="password"></label><br>
<label for="submit">submit<input type="submit" value="submit" id="submit"></label>
</form>
<h3>result</h3>
<p>
    {{ request }}
    <br>
    {{ request.form }}
    <br>
    {{ member }}

</p>
{% endblock body %}
