{% extends "template.html" %}
{% block body %}
{{body  | safe}}

<dl>
    <dt>member_id</dt>
    <dd>{{member.member_id}}</dd>
    <dt>姓</dt>
    <dd>{{member.family_name}}</dd>
    <dt>名</dt>
    <dd>{{member.first_name}}</dd>
    <dt>カナ</dt>
    <dd>{{member.kana}}</dd>
    <dt>表示名</dt>
    <dd>{{member.show_name}}</dd>
    <dt>year</dt>
    <dd>{{member.year}}</dd>
    <dt>sex</dt>
    <dd>{{"男" if member.sex == 0 else "女" }}</dd>
    <dt>visible</dt>
    <dd>{{member.visible}}</dd>
</dl>

<button type="submit">編集</button>
<button type="submit">削除</button>
{% endblock body %}