{% extends "template.html" %}
{% block body %}
<br>
<form id="form-id" action="{{acion}}" method="{{method}}">
<input type="number" name="member_id" id="member_id" value="{{user.member_id}}" hidden>

<table>
    <tr>
        <th>姓:</th>
        <td colspan="3">{{user.family_name}}</td>
    </tr>
    <tr>
        <th>名:</th>
        <td colspan="3"> {{user.first_name}} </td>
    </tr>
    <tr>
        <th>フリガナ:</th>
        <td colspan="3">{{user.kana}}</td>
    </tr>
    <tr>
        <th>表示名:</th>
        <td colspan="3">{{user.show_name}}</td>
    </tr>
    <tr>
        <th>入学年度:</th>
        <td colspan="3">{{user.year}}</td>
    </tr>
    <tr>
        <th>性別:</th>
        <td colspan="3">{{"男性" if user.sex == 0 else "女性" if user.sex == 1 else "不明"}}</td>
    </tr>
    <tr>
        <th>表示:</th>
        <td colspan="3">{{user.visible}}</td>
    </tr>
</table>
<input type="checkbox" name="confirmed" value="true" hidden checked>
<label for="submit">登録する<input type="submit" value="submit" id="submit">
</form>
<h3>result</h3>
<p>
    {{ request }}
    <br>
    {{ request.form }}
</p>
{% endblock body %}
