<!DOCTYPE html>
<html lang="ja">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='ress.css') }}"> 
    {% block css %} {% endblock css %}
    <title>{% block title %} {{ title }} {% endblock title %} - ホノマラメンバーズページ</title>
{% endblock head %}
</head>
<body>
{% block body %}
{% include 'header.html' %}
{% block main %}
{{body  | safe}}
{% endblock main %}
{% include 'footer.html' %}
{% endblock body %}
</body>
</html>